<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!-- Allow arrays to be larger than 2 GiB
	https://learn.microsoft.com/en-us/dotnet/core/runtime-config/garbage-collector
	-->
	<runtime>
		<gcAllowVeryLargeObjects enabled = "true" />
	</runtime>
</configuration>